@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.projects-section {
  font-family: "Source Sans 3", sans-serif;
  background-color: #ffffff;
  font-size: 10.4px;
  line-height: 15.6px;
  padding: 124.8px 0px;
}

.main-container {
  margin: 0px 327.5px;
}

.primary-heading {
  color: #111;
  font-size: 41.6px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 62.4px;
  margin: 0px 0px 36.4px;
  text-align: center;
  text-transform: uppercase;
}

.secondary-heading {
  color: #555;
  font-size: 20.8px;
  font-weight: 500;
  line-height: 33.28px;
  margin: 0px 208px;
  text-align: center;
  margin-bottom: 100px;
}

.underlineproject {
  content: " ";
  position: absolute;
  /* top: calc(100% + 200px); */
  bottom: -200px;
  height: 6px;
  width: 25px;
  background: #7843e9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.project {
  display: grid;
  font-size: 10.4px;
  gap: 52px;
  grid-template-columns: 717.594px 478.391px;
  grid-template-rows: 424.484px;
  line-height: 15.6px;
  margin: 0px 0px 114.4px;
}

.project-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 10.4px;
  justify-content: center;
  line-height: 15.6px;
  padding: 20.8px 0px;
}

.project-heading {
  font-family: "Source Sans 3", sans-serif;
  font-size: 29.12px;
  font-weight: 700;
  line-height: 43.68px;
  margin: 0px 0px 20.8px;
}

.project-about {
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18.72px;
  line-height: 31.824px;
  margin: 0px 0px 31.2px;
}

.project-link-button {
  background-color: #7843e9;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: #00000026 0px 5px 15px 0px;
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16.64px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24.96px;
  padding: 15.6px 52px;
  text-transform: uppercase;
  border: none;
}

.project-image{
    width: 100%;
    display: block;
    object-fit: cover;
}